################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cpp/leetcode/.vs/leetcode
/cpp/leetcode/leetcode/x64/Debug
/cpp/leetcode/x64/Debug
/cpp/leetcode/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7
